body {
   font-family: "Montserrat", sans-serif;
}

header {
   background-color: #bbbbbb;
   padding: 20px 0;
}

header div {
   position: relative;
   width: 940px;
   margin: 0 auto;
}

header nav {
   position: absolute;
   top: 110px;
   right: 0px;
}

header nav li {
   display: inline;
   margin: 0 0 0 15px;
}

header nav a {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 22px;
   color: #000000;
   text-decoration: none;
}

header nav a:hover {
   color: #c78c19;
   text-decoration: underline;
}

.banner {
   width: 100%;
}

.sobre {
   padding: 40px 20px 60px 20px;
   width: 940px;
   margin: 0 auto;
   vertical-align: top;
}

.titulo {
   text-align: center;
   margin-bottom: 1em;
   font-size: 2em;
   clear: left;
}

.utensilios-img {
   width: 120px;
   margin-right: 20px;
   margin-bottom: 20px;
   float: left;
}

.sobre p {
   margin-bottom: 1em;
}

.sobre em {
   font-style: italic;
}

.sobre em strong {
   font-weight: bold;
}

.beneficios {
   background-color: #fefefe;
   width: 940px;
   margin: 0 auto;
   padding: 20px;
}

.beneficios-itens {
   font-style: italic;
   display: inline-block;
   vertical-align: top;
   width: 30%;
   margin-right: 15%;
}

.beneficios-itens li {
   margin-bottom: 20px;
}

.beneficios-itens li::before {
   content: "★";
   margin-right: 5px;
}

.beneficios-itens li:first-of-type {
   font-weight: bold;
}

.beneficios-imagem {
   width: 50%;
}

.mapa {
   text-align: center;
   margin-top: 1em;
}

.mapa > iframe {
   width: 70%;
   margin: 0 auto;
   padding: 2em;
}

.video {
   text-align: center;
   padding: 1.5em 0;
}

.outros {
   background: linear-gradient(#fefefe, #000000);
}

footer {
   text-align: center;
   background-image: url("../imagens/bg.jpg");
   padding: 40px;
}

.copyright {
   color: #ffffff;
   font-size: 13px;
}

/********************* Para mobile ***************************/
@media screen and (max-width: 600px) {
   body {
      width: min-content;
      padding: 0;
   }

   header div, .mapa, .video, .sobre, .beneficios {
      text-align: center;
      width: auto;
      padding: 0;
   }

   header nav {
      position: static;
   }

   .beneficios-itens, .beneficios-imagem {
      width: 100%;
   }
}
