.cabecalho{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.cabecalho div{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.cabecalho-menu{
    position: absolute;
    top: 110px;
    right: 0px;
}

.cabecalho-menu li{
    display: inline;
    margin: 0 0 0 15px;
}

.cabecalho-menu a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}