.cabecalho{
    background-color: #bbbbbb;
}

.cabecalho-menu li{
    display: inline;
    margin: 0 0 0 15px;
}

.cabecalho-menu a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}